    <div class="columns is-centered">
        <section class="hero is-full">
        
        <div class="hero-body has-text-centered">
            <div class="login">
                <%= image_tag '/assets/welcome/logo.jpg', size: "150x150" %>
            <br><br>
            <form>
                <div class="field">
                <div class="control">
                    <input class="input is-medium is-rounded" type="email" placeholder="8673065369" autocomplete="username" required />
                </div>
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required />
                </div>
                </div>
                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                Iniciar Sesión
                </button>
            </form>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                <div>
                    <a href="#">¿Olvido su contraseña?</a>
                </div>
                </div>
                <div class="level-item has-text-centered">
                <div>
                    <a href="#">Crear una cuenta</a>
                </div>
                </div>
            </nav>
            </div>
        </div>
        
        </section>
        </div>
    


